body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  /* background-color: rgb(37, 99, 235); */
  font-weight: bold;
  color: white;
  /* padding: 10px 16px; */
  font-size: 1rem;
  border-radius: .5rem;
  transition: all .15s cubic-bezier(0.4,0,0.2,1);
  border: none;
  cursor: pointer;
}

/* button:hover {
  background-color: rgb(29,78,216);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button:active {
  position: relative;
  top: 1px;
  right: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */
.header-carosel {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  background-image: url('./assets/images/image\ 16.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.headerButton{
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-weight: 300;
}

.header-text {
  width: 60%;
  padding-bottom: 10%;
  text-align: center;
  color: white;
}

.stats-detail {
  width: 100%;
  height: 50vh;
}

.card-Section {
  display: flex;
  justify-content: space-evenly;
}

.cardOne {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px 0;
}

.cardTwo {
  width: 30%;
  margin: 30px 0;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardThree {
  width: 150px;
  margin: 30px 0;
  /* padding: 10px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(0deg, rgb(255, 208, 0) 0%, rgb(255, 200, 0) 35%, rgb(204, 255, 0) 100%)
}
.cardThreeTitle{
  font-size: x-large;
  font-weight: bolder;
  color: rgb(0, 1, 47);
  margin-left: 20px;
}
.boxCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.callToAction {
  width: 100%;
  padding-top: 100px;
  /* height: 100vh; */
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageOne {
  width: 442px;
  height: 296px;
  background-image: url('./assets/images/image\ 40.png');
}

.Article {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.cardArticle {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  background-image: url('./assets//images/image\ 17.png');
  background-size: cover;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 40%;
  margin: 30px;
  height: 75%;
  padding: 20px 40px 20px 20px;
  justify-content: space-between;
  border-radius: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.readMore {
  display: flex;
  justify-content: end;
  align-self: flex-end;
}

.category {
  width: 100%;
  height: 100vh;
}

.cardMain {
  width: 48%;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px;
  border-radius: 10px;
}

.cardHorizontal {
  display: flex;
  justify-content: space-evenly;
}

.cardFull {
  width: 95%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100vh;
}